.map-container {
  height: 100vh !important;
  width: 100% !important;
}

.custom-marker-div {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 1px 3px 5px 1px;
  cursor: pointer;
}

.custom-marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.features {
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  margin-top: 2rem;
  position: absolute;
  z-index: 1;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to right, #001120, #00182e, #001120) !important;

  color: white;
}

.features > div {
  margin-left: 20px;
  display: flex;
  align-items: center;

  background: white;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 7px;

  font-family: sans-serif;
  cursor: pointer;
}
/* .feature-text {
  width: 100%; 
  min-width: auto; 
} */
.feature-launch {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(199, 5, 124);
}
.newly-launched {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: green;
}
.high-demand {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: blue;
}
.last-units {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(228, 194, 0);
}
.out-of-stocks {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: red;
}

.filter {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.filter.active {
  background: linear-gradient(to right, #001120, #00182e, #001120);

  color: white;
}
.popup {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: none;
}

@media (max-width: 767px) {
  .feature-text {
    width: 170px;
    min-width: 130px;
  }
}
